// main.scss
// load all .scss files
@import './spacing.scss';
@import './typography.scss';
@import './timing.scss';
@import './transitions.scss';
//@import './animations.scss';
//@import './colors.scss'; 